<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>COVID-19 contact tracing system</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@600&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/project.js" defer></script>
        <script src="javascripts/user_page.js" defer></script>

        <!-- map link -->
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
        <!--------- map search link---------------->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
        <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>


        <!--<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">-->


</head>
<body onload="show_user()">
<div id="user_page">
     <!--——————————————————————————————————————header——————————————————————————————————————————————————————-->
    <main class="individual_user" id="individual_user">
        <header>
            <image src="stylesheets/Images/logo.png" id="logo" alt="logo"></image>
            <div class = "header_button" >
                <a  id="log_out" class="back_btn" onclick="double_check_log_out()">Log out</a>
                <a onclick= "Individual_user();">individual</a>
                <a onclick= "Manager();">manager</a>
                <a onclick="Health_official();">official</a>
            </div>
        </header>
    <!--——————————————————————————————————————individual ——————————————————————————————————————————————————-->
    <!--—————————————————————head —————————————————————————————————-->
        <div id="mainpage">
            <div class="main_header3">
                <br>
                <div id="title">
                <h1 style="font-weight:bold">Welcome</h1>
                <h1 style="color:#ffae42" id="user_header_show"></h1>
                </div>
            </div>

            <div class="bar" style="z-index: 2;">
              <a onclick="Individual_check_in()"> check-in </a>
              <!--addition comment: user eddit information = false each time open accout-->
              <a onclick="Individual_account(); user_info();">Account</a>
            </div>
        </div>
   <!--—————————————————————content —————————————————————————————————-->
   <!--——————————————check_in ———————————————————————-->
        <div class="individual_check_in" id="individual_check_in">
            <br>
            <div class ="check_in_box">
                <h3>Check in now to save your spot</h3>
                <button class="checkin_button">Check In</button>
            </div>
            <br>
            <br>
    <!-------------------- check in history ---------------------------->
                <div class="history">
                    <h3>My history</h3>
                  <div class="history_box">
                    <h3 style="color:slateblue">10 May 2021 10:53 AM</h3>
                    <p>The University of Adelaide, Adelaide South Australia
                5005 Australia</p>
                  </div>
                  <div class="history_box">
                    <h3 style="color:slateblue">11 May 2021 12:34 PM</h3>
                    <p>KFC, 100 Hindley St Adelaide South Australia 5003</p>
                  </div>
                </div>
        </div>
   <!--——————————————account———————————————————————-->
   <!--page show information-->
       <section class="individual_account" id="individual_account">
            <h3> your information: </h3>
            <!--personal information-->
            <div id="information_block">
                <div class="information_block">
                    <p style="font-size:20px"><b style="color:navy">User ID: </b><span id="u_id"></span> </p>

                </div>
                <div class="information_block">
                    <p style="font-size:150%;">your personal information:
                    <a class="change_user_info" onclick="Info_change()">change information</a>
                    </p>
                    <p style="font-size:20px"><b style="color:navy">&#128100 Name: </b><span id="f_name"></span> <span id= "l_name"></span></p>

                    <p style="font-size:20px"><b style="color:navy">&#9743 Phone Number: </b><span id="ph_num"></span></p>

                    <p style="font-size:20px"><b style="color:navy">&#128231 Email: </b><span id="mail"></span></p>

                </div>
            </div>
            </section>
            <section class="info_change" id="info_change">
                <!--column for text explain the intext-->
                <table class="info_table_layout">
                    <tr>
                        <th><p>First Name:</p></th>
                        <th> <input class="change_info_input" type="text" name="first_name" id="first_name" placeholder="first name" ></th>
                    </tr>
                    <tr>
                        <th><p>Last Name:</p></th>
                        <th> <input class="change_info_input" type="text" name="last_name" id="last_name" placeholder="last name" ></th>
                    </tr>
                    <tr>
                        <th><p>Phone Number:</p></th>
                        <th> <input class="change_info_input" type="tel" name="phone_NO" id="phone_NO" placeholder="number" ></th>
                    </tr>
                    <tr>
                        <th><p>Email Address:</p></th>
                        <th> <input class="change_info_input" type="email" name="email" id="email" placeholder="email" ></th>
                    </tr>
                    <tr>
                        <th><p>Password:</p></th>
                        <th> <input class="change_info_input" type="password" name="password" id="password" placeholder="**************" ></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>    <button style="background-color:skyblue" onclick="change_info()">submit change</button></th>
                    </tr>
                </table>
            </section>


    </main><!-- end of individual user-->
    <!--——————————————————————————————————————manager —————————————————————————————————————————————----—————-->
    <!--—————————————————————head —————————————————————————————————-->
    <section class="manager" id = "manager">
        <header>
            <image src="stylesheets/Images/logo.png" id="logo" alt="logo"></image>
            <div class = "header_button" >
                <a  id="log_out" class="back_btn" onclick="double_check_log_out()">Log out</a>
                <a onclick= "Individual_user();">individual</a>
                <a onclick= "Manager();">manager</a>
                <a onclick="Health_official();">official</a>
            </div>
        </header>
        <div id="mainpage">
            <div class="main_header4">
                <br>
                <div id="title">
                <h1 style="font-weight:bold">Welcome</h1>
                <h2 style="color:#ffae42" id="user_header_show">Venue Manager</h2>
                </div>
            </div>
            <div class="bar">
              <a onclick="Venue_check_in()"> check-in-search </a>
              <a onclick="Venue_account(); venue_info()">Account</a>
            </div>
        </div>
   <!--——————————————check_in_history  ———————————————————————-->
        <div class="venue_check_in" id="venue_check_in">
            <div class="search">
                <h3>venue check in page </h3>
                <br>
                <br>
                <label for="search_user">user_id:</label>
                <input type="text" id="search_user" name="enter the user id">
                <input type="submit" value="Search">
                <br>
                <br>
            </div>
            <div class="search_result_table">
                <table>
                <tr style="background-color:#CDCDCD">
                    <th>User_id</th>
                    <th>User_name</th>
                    <th>Venue</th>
                    <th>Date</th>
                </tr>
                    <th>a11111</th>
                    <th>someone</th>
                    <th>Atlantis</th>
                    <th>2021-5-14 19:22:14</th>
                <tr>
                </tr>
                <tr>

                </tr>
            </table>
            </div>

        </div>
   <!--——————————————account———————————————————————-->
       <section class="venue_account" id="venue_account">
            <h3> venue information: </h3>
            <!--vnue information-->
            <div id="venue_info_block">
                <div class="information_block">
                    <p style="font-size:20px"><b style="color:navy">Venue ID: </b><span id="v_id"></span> </p>
                </div>
                <div class="information_block" v-if="!change_information">
                    <p style="font-size:150%;">your personal information:
                    <a class="change_user_info" onclick="Venue_info_change()">change information</a>
                    </p>
                    <p style="font-size:20px"><b style="color:navy">&#128100 Name: </b><span id="v_name"></span></p>

                    <p style="font-size:20px"><b style="color:navy">&#9743 Phone Number: </b><span id="v_num"></span></p>
                    <p style="font-size:20px"><b style="color:navy">&#128231 Location: </b><span id="location"></span></p>
                    <p>health situation: &#128994</p>
                </div>
            </div>
        </section>

        <section class="information_block" id=venue_info_change>
            <!--column for text explain the intext-->
            <table class="info_table_layout">
                <tr>
                    <th><p>Venue name:</p></th>
                    <th> <input class="change_info_input" type="text" name="venue_name" placeholder="venue name" ></th>
                </tr>
                <tr>
                    <th><p>Phone Number:</p></th>
                    <th> <input class="change_info_input" type="tel" name="phone_NO" placeholder="number" ></th>
                </tr>
                <tr>
                    <th><p>Location:</p></th>
                    <th> <input class="change_info_input" type="text" name="address" placeholder="location" ></th>
                </tr>
                <tr>
                    <th><p>Password:</p></th>
                    <th> <input class="change_info_input" type="password" name="password" placeholder="**************" ></th>
                </tr>
                <tr>
                    <th></th>
                    <th>                <button @click="change_information = false" style="background-color:skyblue;">submit change</button></th>
                </tr>
            </table>
          </section>


    </section><!-- end of venue user-->
    <!--——————————————————————————————————————health official —————————————————————————————————————————————----—————-->
    <!--—————————————————————head —————————————————————————————————-->
    <section class="health_official" id="health_official">
         <header>
            <image src="stylesheets/Images/logo.png" id="logo" alt="logo"></image>
            <div class = "header_button" >
                <a  id="log_out" class="back_btn" onclick="double_check_log_out()">Log out</a>
                <a onclick= "Individual_user();">individual</a>
                <a onclick= "Manager();">manager</a>
                <a onclick="Health_official();">official</a>
            </div>
        </header>

        <div id="mainpage">
            <div class="main_header5">
                <br>
                <div id="title">
                <h1 style="font-weight:bold">Welcome</h1>
                <h2 style="color:#ffae42" id="user_header_show">Health Official</h2>
                </div>
            </div>
            <div class="bar">
              <a onclick="Official_user_history()"> user check in history </a>
              <a onclick="Official_venue_history();">venue check in history </a>
              <a onclick="Hotspot();">set hotspot </a>
              <a onclick="Official_account(); official_info()">Account </a>
              <a onclick="Official_signup();">health official sign up</a>
            </div>
        </div>
   <!--——————————————user check in———————————————————————-->
       <div class="official_account" id="user_history">
           <div class="search">
                <h3>search check-in history by user: </h3>
                <br>
                <br>
                <label for="search_user">user_id:</label>
                <input type="text" id="search_user" name="enter the user id">
                <input type="submit" value="Search">
                <br>
                <br>
            </div>
            <div class="search_result_table">
                <table>
                <tr style="background-color:#CDCDCD">
                    <th>User_id</th>
                    <th>User_name</th>
                    <th>Venue</th>
                    <th>Date</th>
                </tr>
                    <th>a11111</th>
                    <th>someone</th>
                    <th>Atlantis</th>
                    <th>2021-5-14 19:22:14</th>
                <tr>
                </tr>
                <tr>

                </tr>
            </table>
            </div>

        </div>
   <!--——————————————venue check in———————————————————————-->
       <section class="official_account" id="venue_history">
                       <div class="search">
                <h3>search check-in history by venue: </h3>
                <br>
                <br>
                <label for="search_venue">venue_id:</label>
                <input type="text" id="search_venue" name="enter the venue id">
                <input type="submit" value="Search">
                <br>
                <br>
            </div>
            <div class="search_result_table">
                <table>
                <tr style="background-color:#CDCDCD">
                    <th>Venue</th>
                    <th>User_id</th>
                    <th>User_name</th>
                    <th>Date</th>
                </tr>
                    <th>Atlantis</th>
                    <th>a11111</th>
                    <th>someone</th>
                    <th>2021-5-14 19:22:14</th>
                <tr>
                </tr>
                <tr>

                </tr>
            </table>
            </div>


        </section>
   <!--——————————————set hotspot———————————————————————-->
       <section class="official_account" id="hotspot">
            <h3>official set hotspot </h3>
            <div id="geocoder" class="geocoder"></div>
            <div id= 'map'></div>
        </section>
   <!--——————————————account———————————————————————-->
       <section class="official_account" id="official_account">
            <h3>official information: </h3>
            <!--vnue information-->
            <div class="information_block">
                <p style="font-size:20px"><b style="color:navy">Official ID: </b><span id="o_id"></span> </p>
            </div>
            <div class="information_block" v-if="!change_information">
                <p style="font-size:150%;">your personal information:
                <a class="change_user_info" onclick="Official_info_change()">change information</a>
                </p>
                <p>&#8962 Name: </p>
                <p>&#9743 Phone Number:</p>
                <p>&#128231 Email: </p>
            </div>
        </section>

            <section class="information_block" id="official_info_change">
                <!--column for text explain the intext-->
                <table class="info_table_layout">
                    <tr>
                        <th><p>name:</p></th>
                        <th> <input class="change_info_input" type="text" name="official_name" placeholder="official name" ></th>
                    </tr>
                    <tr>
                        <th><p>Phone Number:</p></th>
                        <th> <input class="change_info_input" type="tel" name="phone_NO" placeholder="number" ></th>
                    </tr>
                    <tr>
                        <th><p>Email Address:</p></th>
                        <th> <input class="change_info_input" type="email" name="email" placeholder="email" ></th>
                    </tr>
                    <tr>
                        <th><p>Password:</p></th>
                        <th> <input class="change_info_input" type="password" name="password" placeholder="**************" ></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>                <button @click="change_information = false" style="background-color:skyblue;">submit change</button></th>
                    </tr>
                </table>
              </section>


   <!--——————————————sign-up ———————————————————————-->
       <section class="official_account" id="official_signup">
            <h3>official sign up </h3>
            <div class="signup_page">
                <form>
                    <div class="row signup_row">

                        <h3 style="text-align:center">Create an Official account</h3>
                          <label for="Name">Name</label>
                          <input type="text" id="official_Name" class="signup_input">
                        <br>
                          <label for="password">Password</label>
                          <input type="password" id="password" class="signup_input">
                        <br>
                          <label for="email">Your Email</label>
                          <input type="text" id="email" class="signup_input">
                        <br>
                          <label for="phone">Phone Num</label>
                          <input type="text" id="phone" class="signup_input" >
                        <br>

                        <button class="sign_up_button">Sign-up</button>
                        <button class="cancel" onclick="showMain()"> Cancel </button>



                    </div>
                    <br>
                </form>
            </div>

        </section>

    </section><!-- end of official user-->
    <!--——————————————————————————————————————page error——————————————————————————————————————————————————— -->
    <!--<div v-else>-->
    <!--    <p>page error</p>-->

    <!--</div>-->


    <!--——————————————————————————————————————————————--footer——————————————————————————————————————--->
    <footer>
        <div class="footer_info">
          <br/>
            <a href="AboutUs.html">About us</a>
            <a href="ContactUs.html">Contact us</a>
        </div>
        <p>Copyright © 2021 CS Group</p>
    </footer>
</div>
</body>

</html>